.dropdown a{
  color: #fff;
}
.dropdown ul{
  padding:0;
  left:-5px;
}
.dropdown ul li{
  border-bottom: #ccc 1px solid;
  padding: 0;
}
.dropdown ul li:last-child{
  border-bottom:none;
}
.dropdown ul li a {
  padding:10px;
  color: #333333;
  display: block;
}
.dropdown ul li a:hover{
  text-decoration: none;
  background: #666;
  color: #fff;
}
